.row {
  max-width: 75%;
  margin: 1rem auto; }

.col-3-of-4 {
  width: calc(((100% - 3*3rem)/4)*3);
  float: left;
  margin-right: 3rem;
  margin-left: 1rem; }

.col-1-of-4 {
  width: calc((100%-3rem)/4);
  float: left; }

.col-1-of-2 {
  max-height: 25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: calc((85%-2*4rem)/2);
  background-color: #65ad45;
  margin: 10px;
  float: left;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .col-1-of-2:hover {
    transform: scale(1.05); }

.row .col-1-of-3:not(:last-child) {
  margin-right: 2rem; }

.row .col-1-of-3 {
  width: calc((100% - 2 * 2rem)/3);
  background-color: #7a232f;
  float: left;
  text-align: center;
  transition: all 0.5s ease-out; }
  .row .col-1-of-3:hover {
    transform: scale(1.05); }

.row a {
  text-decoration: none; }

.row p {
  color: white;
  margin-top: -2.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem; }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btn {
  0% {
    background-color: #7a232f;
    transform: translateY(0); }
  100% {
    background-color: #661d27;
    transform: translateY(-3px); } }

.form {
  font-family: inherit;
  width: 100%;
  background-color: white;
  padding: 2rem 1.5rem;
  text-align: center; }
  .form-group {
    outline: none;
    display: block;
    margin-bottom: 2rem; }
    .form-group-btn {
      font-family: inherit;
      margin-top: 1rem;
      padding: 0.5rem;
      font-size: 2rem;
      color: white;
      background-color: #7a232f;
      border: white solid 0.1rem;
      border-radius: 10px;
      box-shadow: 1px 3px 6px 3px rgba(0, 0, 0, 0.322);
      text-transform: uppercase; }
      .form-group-btn:hover {
        animation: btn .4s; }
  .form-control {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    min-width: 80%;
    max-width: 60rem;
    height: 2rem;
    color: gray;
    outline: none; }
    .form-control:focus {
      border-bottom: 5px solid #7a232fad; }

.footer {
  font-family: inherit;
  background-color: black;
  padding: 1.5rem 0 1.5rem 0; }
  .footer-list {
    list-style: none;
    text-align: center; }
    .footer-list-item {
      display: inline-block;
      list-style: none;
      color: white;
      text-decoration: none; }
    .footer-list-link {
      font-family: inherit;
      text-decoration: none;
      color: white;
      font-size: 1rem; }
  .footer-para {
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8rem; }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btn {
  0% {
    background-color: #7a232f;
    transform: translateY(0); }
  100% {
    background-color: #661d27;
    transform: translateY(-3px); } }

.smallFormat {
  position: relative;
  min-height: 45rem;
  background-image: url("../Images/Home/smallFormat.png");
  background-size: cover;
  background-position: top;
  color: white;
  overflow: hidden; }
  .smallFormat ul {
    margin-top: 2rem;
    list-style: none; }
  .smallFormat li {
    color: #ececec;
    display: inline-block;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 0.5rem; }
  .smallFormat_box_text {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
    text-align: center; }
    .smallFormat_box_text > h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      animation-name: moveinleft;
      animation-duration: 1s; }
    .smallFormat_box_text span {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      margin-top: .5rem;
      line-height: 1.5;
      text-transform: none;
      animation: moveinright 1s; }
    .smallFormat_box_text > h1, .smallFormat_box_text span {
      display: block; }
    .smallFormat_box_text > h1 span {
      width: 100%; }

.row .col-3-of-4 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  animation-name: moveinleft;
  animation-duration: 1s; }

.row .col-3-of-4 h1, .row .col-3-of-4 span {
  display: block; }

.row .col-3-of-4 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-top: .5rem;
  line-height: 1.5;
  text-transform: none;
  animation: moveinright 1s; }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btn {
  0% {
    background-color: #7a232f;
    transform: translateY(0); }
  100% {
    background-color: #661d27;
    transform: translateY(-3px); } }

.largeFormat {
  position: relative;
  min-height: 45rem;
  background-image: url("../Images/Home/largeFormat.png");
  background-size: cover;
  background-position: bottom;
  color: black;
  overflow: hidden;
  border-bottom: 5px solid #7a232f; }
  .largeFormat ul {
    margin-top: 2rem;
    list-style: none; }
  .largeFormat li {
    color: black;
    display: inline-block;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 0.5rem; }
  .largeFormat_box_text {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
    text-align: center; }
    .largeFormat_box_text > h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      animation-name: moveinleft;
      animation-duration: 1s; }
    .largeFormat_box_text span {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      margin-top: .5rem;
      line-height: 1.5;
      text-transform: none;
      animation: moveinright 1s; }
    .largeFormat_box_text > h1, .largeFormat_box_text span {
      display: block; }
    .largeFormat_box_text > h1 span {
      width: 100%; }

.row .col-3-of-4 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  animation-name: moveinleft;
  animation-duration: 1s; }

.row .col-3-of-4 h1, .row .col-3-of-4 span {
  display: block; }

.row .col-3-of-4 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-top: .5rem;
  line-height: 1.5;
  text-transform: none;
  animation: moveinright 1s; }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btn {
  0% {
    background-color: #7a232f;
    transform: translateY(0); }
  100% {
    background-color: #661d27;
    transform: translateY(-3px); } }

.commercialOffset {
  position: relative;
  min-height: 45rem;
  background-image: linear-gradient(105deg, #65ad45 0%, #65ad45 50%, rgba(0, 0, 0, 0) 50%), url("../Images/Home/commercialOffset.png");
  background-size: cover;
  background-position: top;
  color: white;
  overflow: hidden; }
  .commercialOffset ul {
    margin-top: 2rem;
    list-style: none; }
  .commercialOffset li {
    color: #ececec;
    display: inline-block;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 0.5rem; }
  .commercialOffset_box_text {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    padding: 0 2rem;
    text-align: center; }
    .commercialOffset_box_text > h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      animation-name: moveinleft;
      animation-duration: 1s; }
    .commercialOffset_box_text span {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      margin-top: .5rem;
      line-height: 1.5;
      text-transform: none;
      animation: moveinright 1s; }
    .commercialOffset_box_text > h1, .commercialOffset_box_text span {
      display: block; }
    .commercialOffset_box_text > h1 span {
      width: 100%; }

.row .col-3-of-4 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  animation-name: moveinleft;
  animation-duration: 1s; }

.row .col-3-of-4 h1, .row .col-3-of-4 span {
  display: block; }

.row .col-3-of-4 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-top: .5rem;
  line-height: 1.5;
  text-transform: none;
  animation: moveinright 1s; }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btn {
  0% {
    background-color: #7a232f;
    transform: translateY(0); }
  100% {
    background-color: #661d27;
    transform: translateY(-3px); } }

.creative {
  position: relative;
  min-height: 45rem;
  background-image: url("../Images/Home/creative.png");
  background-size: cover;
  background-position: bottom;
  color: black;
  overflow: hidden;
  border-bottom: 5px solid #7a232f; }
  .creative_box_text {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
    text-align: center; }
    .creative_box_text > h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      animation-name: moveinleft;
      animation-duration: 1s; }
    .creative_box_text span {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      margin-top: .5rem;
      line-height: 1.5;
      text-transform: none;
      animation: moveinright 1s; }
    .creative_box_text > h1, .creative_box_text span {
      display: block; }
    .creative_box_text > h1 span {
      width: 100%; }

.premedia {
  position: relative;
  min-height: 45rem;
  background-image: url("../Images/Home/creative_premedia.png");
  background-size: cover;
  background-position: bottom;
  color: white;
  overflow: hidden;
  border-bottom: 5px solid #7a232f; }
  .premedia ul {
    margin-top: 2rem;
    list-style: none; }
  .premedia li {
    color: white;
    display: inline-block;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 0.5rem; }
  .premedia_box_text {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
    text-align: center;
    right: 2rem; }
    .premedia_box_text > h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      animation-name: moveinleft;
      animation-duration: 1s; }
    .premedia_box_text span {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      margin-top: .5rem;
      line-height: 1.5;
      text-transform: none;
      animation: moveinright 1s; }
    .premedia_box_text > h1, .premedia_box_text span {
      display: block; }
    .premedia_box_text > h1 span {
      width: 100%; }

.row .col-3-of-4 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  animation-name: moveinleft;
  animation-duration: 1s; }

.row .col-3-of-4 h1, .row .col-3-of-4 span {
  display: block; }

.row .col-3-of-4 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-top: .5rem;
  line-height: 1.5;
  text-transform: none;
  animation: moveinright 1s; }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btn {
  0% {
    background-color: #7a232f;
    transform: translateY(0); }
  100% {
    background-color: #661d27;
    transform: translateY(-3px); } }

.directmail {
  position: relative;
  min-height: 45rem;
  background-image: url("../Images/Home/directMail.png");
  background-size: cover;
  background-position: bottom;
  color: white;
  overflow: hidden;
  border-bottom: 5px solid #7a232f;
  padding-top: 1rem; }
  .directmail_box_text {
    width: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
    text-align: center; }
    .directmail_box_text > h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      animation-name: moveinleft;
      animation-duration: 1s; }
    .directmail_box_text span {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      margin-top: .5rem;
      line-height: 1.5;
      text-transform: none;
      animation: moveinright 1s; }
    .directmail_box_text > h1, .directmail_box_text span {
      display: block; }
    .directmail_box_text > h1 span {
      width: 100%; }

.lettershop {
  position: relative;
  min-height: 45rem;
  background-image: linear-gradient(to left, #f8f8f8, rgba(231, 231, 231, 0.123)), url("../Images/Home/lettershop.png");
  background-size: cover;
  background-position: bottom;
  color: black;
  overflow: hidden;
  border-bottom: 5px solid #7a232f; }
  .lettershop ul {
    margin-top: 2rem;
    list-style: none; }
  .lettershop li {
    color: black;
    display: inline-block;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 0.5rem; }
  .lettershop_box_text {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
    text-align: center;
    right: 2rem;
    padding-top: 1rem; }
    .lettershop_box_text > h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      animation-name: moveinleft;
      animation-duration: 1s; }
    .lettershop_box_text span {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      margin-top: .5rem;
      line-height: 1.5;
      text-transform: none;
      animation: moveinright 1s; }
    .lettershop_box_text > h1, .lettershop_box_text span {
      display: block; }
    .lettershop_box_text > h1 span {
      width: 100%; }

.row .col-3-of-4 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  animation-name: moveinleft;
  animation-duration: 1s; }

.row .col-3-of-4 h1, .row .col-3-of-4 span {
  display: block; }

.row .col-3-of-4 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-top: .5rem;
  line-height: 1.5;
  text-transform: none;
  animation: moveinright 1s; }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btn {
  0% {
    background-color: #7a232f;
    transform: translateY(0); }
  100% {
    background-color: #661d27;
    transform: translateY(-3px); } }

.marketing {
  position: relative;
  min-height: 45rem;
  background-image: url("../Images/Home/marketing.png");
  background-size: cover;
  background-position: bottom;
  color: white;
  overflow: hidden; }
  .marketing_box_text {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
    text-align: center;
    padding-top: 1rem; }
    .marketing_box_text > h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      animation-name: moveinleft;
      animation-duration: 1s; }
    .marketing_box_text span {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      margin-top: .5rem;
      line-height: 1.5;
      text-transform: none;
      animation: moveinright 1s; }
    .marketing_box_text > h1, .marketing_box_text span {
      display: block; }
    .marketing_box_text > h1 span {
      width: 100%; }

.marketing-link {
  text-decoration: none;
  color: white; }

.row .col-3-of-4 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  animation-name: moveinleft;
  animation-duration: 1s; }

.row .col-3-of-4 h1, .row .col-3-of-4 span {
  display: block; }

.row .col-3-of-4 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-top: .5rem;
  line-height: 1.5;
  text-transform: none;
  animation: moveinright 1s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

html {
  font-size: 100%; }

body {
  padding: 1%;
  font-family: 'Montserrat', sans-serif; }

.header {
  position: relative;
  min-height: 4rem; }
  .header_contact {
    position: absolute;
    right: 0;
    top: 1rem; }
  .header li {
    display: inline-block;
    padding-left: 1rem;
    text-decoration: none; }
  .header a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem; }

[href="#services"] {
  position: relative; }

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 3rem;
  padding: 0.3rem;
  background-color: #7a232f; }

.dropdown-item-link {
  text-decoration: none;
  color: white; }

.getstarted {
  position: relative;
  min-height: 45rem;
  background-image: linear-gradient(105deg, #65ad45 0%, #65ad45 50%, rgba(0, 0, 0, 0) 50%), url("../Images/Home/home.png");
  background-size: cover;
  background-position: top;
  color: white; }
  .getstarted_button {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: #7a232f;
    border: white solid 0.1rem;
    border-radius: 10px;
    box-shadow: 1px 3px 6px 3px rgba(0, 0, 0, 0.322); }
    .getstarted_button:hover {
      animation: btn .4s; }
    .getstarted_button_link {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300; }

.box_text {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2rem;
  text-align: center; }
  .box_text > h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    animation-name: moveinleft;
    animation-duration: 1s; }
  .box_text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: .5rem;
    line-height: 1.5;
    text-transform: none;
    animation: moveinright 1s; }
  .box_text > h1, .box_text span {
    display: block; }
  .box_text > h1 span {
    width: 100%; }

.guarantee {
  position: relative;
  min-height: 45rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Images/guarantee.png");
  background-size: cover;
  background-position: top;
  color: white;
  overflow: hidden; }
  .guarantee_button {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: #7a232f;
    border: white solid 0.1rem;
    border-radius: 10px;
    box-shadow: 1px 3px 6px 3px rgba(0, 0, 0, 0.322); }
    .guarantee_button:hover {
      animation: btn .4s; }
    .guarantee_button_link {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300; }
  .guarantee_box_text {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    padding: 0 2rem;
    text-align: center;
    max-height: 200px; }
    .guarantee_box_text > h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      animation-name: moveinleft;
      animation-duration: 1s; }
    .guarantee_box_text span {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      margin-top: .5rem;
      line-height: 1.5;
      text-transform: none;
      animation: moveinright 1s; }
    .guarantee_box_text > h1, .guarantee_box_text span {
      display: block; }
    .guarantee_box_text > h1 span {
      width: 100%; }

.whatwedo {
  padding: 1.2rem 0;
  text-align: center;
  background-color: #e7e6e6; }
  .whatwedo h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase; }

.getintouch {
  position: relative;
  min-height: 45rem;
  background-image: linear-gradient(to left, #050000, rgba(199, 198, 198, 0.158)), url("../Images/Home/getintouch.png");
  background-size: cover;
  background-position: top;
  color: white;
  overflow: hidden;
  min-height: 45rem; }
  .getintouch_link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; }
  .getintouch_box_text {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
    text-align: center;
    right: 2rem; }
    .getintouch_box_text > h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      animation-name: moveinleft;
      animation-duration: 1s; }
    .getintouch_box_text span {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      margin-top: .5rem;
      line-height: 1.5;
      text-transform: none;
      animation: moveinright 1s;
      margin-top: 2rem; }
      .getintouch_box_text span i {
        margin-right: 1rem; }
    .getintouch_box_text > h1, .getintouch_box_text span {
      display: block; }
    .getintouch_box_text > h1 span {
      width: 100%; }

.quote {
  min-height: 45rem; }
  .quote_box_text {
    padding: 2rem 2rem 0;
    text-align: center; }
  .quote_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    animation-name: moveinleft;
    animation-duration: 1s; }
  .quote_description {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: .5rem;
    line-height: 1.5;
    text-transform: none;
    animation: moveinright 1s; }
  .quote > h1, .quote span {
    display: block; }
  .quote > h1 span {
    width: 100%; }

/* media querries */
@media only screen and (max-width: 1200px) {
  .col-3-of-4, .col-1-of-4 {
    float: none;
    width: 98%;
    padding-top: 1rem; }
  .col-1-of-4 {
    margin: 4px auto; }
  .col-1-of-2 {
    float: none;
    display: inline-block;
    margin: 3px auto;
    width: calc((100%-2*4rem)/2); }
    .col-1-of-2 img {
      width: 50%; } }

@media only screen and (max-width: 900px) {
  .header_contact li a {
    font-size: 0.9rem; }
  .col-1-of-2 {
    float: none;
    display: inline-block;
    margin: 3px auto;
    width: calc((85%-2*4rem)/2); }
    .col-1-of-2 img {
      width: 50%; } }

@media only screen and (max-width: 800px) {
  .header_contact {
    display: none; }
  html {
    font-size: 50%; }
  body {
    padding: 0; }
  .getstarted .box_text {
    width: 50%; } }

@media only screen and (max-width: 600px) {
  html {
    font-size: 40%; } }
