@import 'base/base';
@import 'base/typographie';
@import 'base/layout';


@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'components/form.scss';
@import 'components/footer.scss';

@import './pages/smallFormat';
@import './pages/largeFormat';
@import './pages/commercialOffset';
@import './pages/creative';
@import './pages/directmail';
@import './pages/marketing';




*,
*::after,
*::before{margin:0;
padding:0;
box-sizing: border-box;
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

html{font-size: 100%;}

body{
    padding:1%;
    font-family: 'Montserrat', sans-serif;
    }

.header{position: relative;
    min-height:4rem;

    &_contact{
            position: absolute;
            right: 0;
            top: 1rem;
        }

        & li{display: inline-block;
        padding-left: 1rem;
        text-decoration: none;}

    & a{text-decoration: none;
    color:$colour-text-dark;
    font-size: 1.2rem;

    }
}


[href="#services"]{
                    position: relative;}

    .dropdown{display:flex;
        flex-direction: column;
        justify-content: flex-end;;
        position: absolute;
    //    left:-4rem;
       top:3rem;
       padding: 0.3rem;
        background-color: #7a232f;
    }

// .dropdown{display:none}
.dropdown-item-link{text-decoration: none;
color: $colour-white;}





   .getstarted{

    // @include card(to right,#65ad45,rgba(255, 255, 255, 0.187),"../Images/home.jpg");
    position: relative;
    min-height:45rem;
    background-image: linear-gradient(105deg,rgba(101, 173, 69, 1) 0%,
                                    rgba(101, 173, 69, 1) 50%,
                                    rgba(0, 0, 0, 0) 50%), 
                                    url("../Images/Home/home.png");
    background-size: cover;
    background-position: top;
    color:$colour-white;

            &_button{
                margin-top: 1rem;
                padding: 0.5rem;
                font-size: 2rem;
                background-color:#7a232f;
                border:$colour-white solid .1rem;
                border-radius: 10px;
                box-shadow: 1px 3px 6px 3px rgba(0, 0, 0, 0.322) ;

                &:hover{
                    animation: btn .4s ;
                }
            
                &_link{
                    text-decoration: none;
                    text-transform: uppercase;
                    color:$colour-text-light;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
    
                }     
            
            }

        }

   .box_text{
      @include box-text;
   
   &>h1{
@include title
    
   }

   & span{
@include subtitle
   }
   &>h1, span{
    display: block;            
   }

    &>h1 span{width: 100%; 
     }
    }


    .guarantee{
       
       @include card(to bottom,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6),"../Images/guarantee.png");
          
       @include btn;
 
          
             

             
        &_box_text{
            position: absolute;
            top:50%;
            transform: translateY(-70%);
            padding:0 2rem;
            text-align:center;
            max-height: 200px;

        &>h1{
        @include title

        
        }

        & span{
        @include subtitle
        }
        &>h1, span{
        display: block;            
        }

        &>h1 span{width: 100%; 
        }
        
                }
             }



   .whatwedo{
       padding: 1.2rem 0;
       text-align: center;
       background-color: rgb(231, 230, 230);
  
        h1{
            font-family: 'Montserrat', sans-serif;
            font-size: 3rem;
            font-weight: 500;
            text-transform: uppercase;


            }
        }




    .getintouch{
       
       @include card(to left,rgb(5, 0, 0),rgba(199, 198, 198, 0.158),"../Images/Home/getintouch.png");
       min-height:45rem;
       
       
 
            
             
                 &_link{
                     text-decoration: none;
                     text-transform: uppercase;
                     color:$colour-text-light;
                     font-family: 'Montserrat', sans-serif;
                     font-weight: 300;                    
                }
             

             
        &_box_text{
        @include box-text;
        right:2rem;

        &>h1{
        @include title

        
        }

        & span{
        @include subtitle;
        margin-top: 2rem;
        i{
            margin-right: 1rem;
        }

        }
        &>h1, span{
        display: block;            
        }

        &>h1 span{width: 100%; 
        }
        
                }
             }


             .quote{
                min-height:45rem;
                
                &_box_text{

                padding:2rem 2rem 0;
                text-align:center;
            }
    
            &_title{
            @include title
    
            
            }
    
            &_description{
            @include subtitle
            }
            &>h1, span{
            display: block;            
            }
    
            &>h1 span{width: 100%; 
            }  
        }
                      


/* media querries */
@media only screen and (max-width:1200px){
.col-3-of-4, .col-1-of-4{
    float: none;
    width:98%;
    padding-top: 1rem;
}

.col-1-of-4{margin:4px auto;}

.col-1-of-2{
    float:none;
    display:inline-block;
    margin:3px auto;
    width:calc((100%-2*4rem)/2);
    img{width:50%;}
}
}

@media only screen and (max-width:900px){
    .header_contact li a {font-size:0.9rem;
    }

    .col-1-of-2{
        
        float:none;
        display:inline-block;
        margin:3px auto;
        width:calc((85%-2*4rem)/2);
    
        img{width:50%;}
    }
}

@media only screen and (max-width:800px){
    .header_contact{display:none;
    }
    html{font-size: 50%;}
    body{padding:0}

    .getstarted .box_text{
        width:50%;
    }
}
@media only screen and (max-width:600px){
   
    html{font-size: 40%;}


   
}