@import '../abstracts/variables';

.footer{
    font-family: inherit;
    background-color:$colour-black ;
    padding: 1.5rem 0 1.5rem 0;
    text-align: center;
    
    

    &-list{
        list-style: none;
        text-align: center;
    

    &-item{
        display:inline-block;
        list-style: none;
        color: $colour-white;
        text-decoration: none;
    }

    &-link{
        font-family: inherit;
        text-decoration: none;
        color: $colour-white;
        font-size: 1rem;
    }
}
    &-para{
        color: $colour-white;
        text-align: center;
        margin-top: 1rem;
        font-size: 0.8rem;
    }

    & span{
        display: block;
        margin-top:1rem;
    }
}