@import 'sass/abstracts/variables';


.row{max-width: 75%;
    margin: 1rem auto;

    // height:30rem;
       
    }

   .col-3-of-4{
    width:calc(((100% - 3*3rem)/4)*3);
    float:left;
    margin-right: 3rem;
    margin-left:1rem;
}



.col-1-of-4{
    width:calc((100%-3rem)/4);
    float:left;
    
    
}

.col-1-of-2{
    max-height:25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:calc((85%-2*4rem)/2);
    background-color: #65ad45;
    margin: 10px;
    float:left;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-out;
    &:hover{
        transform: scale(1.05);
    }
    
}
.row{

    
    .col-1-of-3:not(:last-child){
        margin-right: $margin-right-3;;

    }
    // .col-1-of-3:first-child{
    //     background-color:blue;
    // }
    .col-1-of-3{
        width:calc((100% - 2 * #{$margin-right-3})/3);
        background-color:$colour-red;
        float: left;
        text-align: center;
        transition: all 0.5s ease-out;
    &:hover{
        transform: scale(1.05);
    }
    }

    a{text-decoration: none;}

    p{color: $colour-text-light;
        margin-top: -2.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }
}

