@import '../abstracts/variables';
@import '../abstracts/mixins';


.getintouch{
       
    @include card(to left,rgba(126,41,52,0.8) 0, rgba(101, 173, 69, 0.8) 75%,"../Images/Home/getintouch.png");
    min-height:45rem;

    &_description_para{
        
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        font-weight: 300;
        margin-top: .5rem;
        line-height: 1.2;
        text-transform:none;
        animation: moveinright 1s;
        transition: all 1s;
        padding-top: 0.5rem;
        letter-spacing: -0.0375rem;

        // &:hover{
        //     // color:rgb(5, 63, 5);
        //     transform: scale(1.2);
        // }
     }
     
          
              &_link{
                  text-decoration: none;
                  
                  color:$colour-text-light;
                  font-family: 'Montserrat', sans-serif;
                  font-weight: 500;                    
             }
          

          
     &_box_text{
margin: 10rem auto;
text-align: center;

width: 85%;

    

     &>h1{
     @include title;
     font-weight: 500;

     
     }
     
     & span{
     @include subtitle;
     margin-top: 2rem;
     i{
         margin-right: 1rem;
     }

     }
     &>h1, span{
     display: block;            
     }

     &>h1 span{width: 100%; 
     }
     
             }
          }


          .quote{
             min-height:45rem;
             
             &_box_text{

             padding:2rem 2rem 0;
             text-align:center;
         }
 
         &_title{
         @include title
 
         
         }
 
         &_description{
         @include subtitle
         }
         &>h1, span{
         display: block;            
         }
 
         &>h1 span{width: 100%; 
         }  
     }
                   
.row{

.col-3-of-4{

     h1{
             @include title;
             
             
         }

         h1,span{display: block;}

         span{
             @include subtitle
         }

}
}