@import '../abstracts/variables';
@import '../abstracts/mixins';


.marketing{
       
    // @include card(to bottom,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6),"parprint_website\Images\SmallFormat_page\smallFormat.png");
    
    position: relative;
    min-height:45rem;
    background-image: url("../Images/Home/marketing_logo.png");
    background-size: cover;
    background-position: bottom;
    color:$colour-white;
    overflow: hidden;
    
  
   
      
          
     &_box_text{
        @include box-text;
        padding-top: 1rem;

     &>h1{
     @include title

     
     }

     & span{
     @include subtitle;
     
     }
     &>h1, span{
     display: block;            
     }

     &>h1 span{width: 100%; 
     }
     
             }
             
          }

.marketing-link{
    text-decoration: none;
    color: $colour-white;
}

.row{

.col-3-of-4{

     h1{
             @include title;
             
             
         }

         h1,span{display: block;}

         span{
             @include subtitle
         }

}
}