@import '../abstracts/variables';
@import '../abstracts/mixins';




.send{

    // @include card(to right,#65ad45,rgba(255, 255, 255, 0.187),"../Images/home.jpg");
    position: relative;
    min-height:45rem;
    background-image: linear-gradient(105deg,rgba(5,106,247,1) 0%,
                                    rgba(5,106,247,1) 50%,
                                    rgba(0, 0, 0, 0) 50%), 
                                    url("../Images/Home/data_transfer_small.jpg");
    background-size: cover;
    background-position: top;
    color:$colour-white;


   //  &_button{
   //     width:100%;
   //     margin: 0 auto;
       

   //     & iframe{
   //        width: 90%;
   //        text-align: center;
          
   //     }
   //  }

           

    &_box_text{
    width:50%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding:0 2rem;
    text-align:center;
   
   &>h1{
@include title
    
   }

   & span{
@include subtitle
   }
   &>h1, span{
    display: block;            
   }

    &>h1 span{width: 100%; 
     }
    }
}

